<a href="https://colab.research.google.com/github/aneeshmurali-n/Python-Tasks/blob/main/TASK3_PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1  
##Write Python code that prints your name, student number and email address.  
###An example runs of the program:  
<p>
Bob<br>
ST1001<br>
bob@gmail.com
</p>

In [6]:
name = input("Enter your name : ")
student_number = input("Enter student number : ")
email = input("Enter your email address : ")
print("")
print(name)
print(student_number)
print(email)

Enter your name : Bob
Enter student number : ST1001
Enter your email address : bob@gmail.com

Bob
ST1001
bob@gmail.com

#Exercise 2
##Write Python code that prints your name, student number and email address using escape sequences.
###An example runs of the program:
<p>
Bob<br>
ST1001<br>
bob@gmail.com
</p>

In [7]:
name = input("Enter your name : ")
student_number = input("Enter student number : ")
email = input("Enter your email address : ")
print(f"\n\n{name}\n{student_number}\n{email}")

Enter your name : Bob
Enter student number : ST1001
Enter your email address : bob@gmail.com


Bob
ST1001
bob@gmail.com

#Exercise 3
##Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.
###An example run of the program:  
<p>
14 + 7 = 21<br>
14 * 7 = 98<br>
14 – 7 = 7<br>
14 / 7 = 2
</p>

In [21]:
num_a = int(input("Enter the first number : "))
num_b = int(input("Enter the second number : "))
div_str = str(num_a / num_b)
if div_str.split('.')[1] == '0': # after devide if the desimal part is zero (.0)
    div =  div_str.split('.')[0] # set div = int part of the number
else:
    div = div_str
print(f"\n{num_a} + {num_b} = {num_a+num_b}\n{num_a} * {num_b} = {num_a*num_b}\n{num_a} - {num_b} = {num_a-num_b}\n{num_a} / {num_b} = {div}")

Enter the first number : 14
Enter the second number : 7

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2

#Exercise 4
##Write Python code that displays the numbers from 1 to 5 as steps.
###An example runs of the program:
<p>
1<br>2<br>3<br>4<br>5
</p>

In [22]:
for num in range(1,6):
    print(num)

1
2
3
4
5

#Exercise 5
##Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:
###An example runs of the program:  
<p>
"SDK" stands for "Software Development Kit", whereas<br>
"IDE" stands for "Integrated Development Environment".
</p>

In [23]:
print('"SDK" stands for "Software Development Kit", whereas\n"IDE" stands for "Integrated Development Environment".')

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

#Exercise 6
##Practice and check the output
<p>
print("python is an \"awesome\" language.")<br>
print("python\n\t2023")<br>
print('I\'m from Entri.\b')<br>
print("\65")<br>
print("\x65")<br>
print("Entri", "2023", sep="\n")<br>
print("Entri", "2023", sep="\b")<br>
print("Entri", "2023", sep="*", end="\b\b\b\b")
</p>

In [34]:
print("python is an \"awesome\" language.") # The escape character \ allow to include double quotes inside double quotes

python is an "awesome" language.

In [35]:
print("python\n\t2023")                     # \n new line \t tab

python
	2023

In [36]:
print('I\'m from Entri.\b')                 # The escape character \ allow to include single quotes inside single quotes and \b is back space

I'm from Entri.

In [37]:
print("\65")                                # \65 is considered as an octal value so it's going to print its equvalent ascii char which is 5

5

In [38]:
print("\x65")                               # \x65 is considered as hexadecimal value so it's going to print its equvalent ascii char which is e

e

In [39]:
print("Entri", "2023", sep="\n")            # The first argument to the print() function is the string "Entri". The second argument to the print() function is the string "2023".
                                            # The sep argument is used to specify the separator string that is inserted between the arguments passed to the print() function. In this case, the separator string is set to "\n", which is the newline character.
                                            # When the print() function is called, it will print the first string "Entri", followed by a newline character, and then print the second string "2023".

Entri
2023

In [41]:
print("Entri", "2023", sep="\b")            # Here the sep argument is \b back space so its going to print arguments followed by back space so the i in Entri will be removed

Entri2023

In [43]:
print("Entri", "2023", sep="*", end="\b\b\b\b") # Here the sep argument is * character so it's going to print Entri followed by * then 2023 but hear the end argument is "\b\b\b\b"
                                                # that's going run backspace 4 times and remove 4 characters from the end

Entri*2023

#Exercise 7
##Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
<p>
num=23<br>
textnum="57"<br>
decimal=98.3
</p>

In [48]:
num=23
textnum="57"
decimal=98.3
print(f"Type of num is {type(num)}\nType of textnum is {type(textnum)}\nType of decimal is {type(decimal)}")
print(f"The sum of variables = {num + float(textnum) + decimal}")

Type of num is <class 'int'>
Type of textnum is <class 'str'>
Type of decimal is <class 'float'>
The sum of variables = 178.3

#Exercise 8
##calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
###(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [53]:
no_of_days_in_a_year = 365
minute_in_a_hour = 60
hours_in_a_day = 24
print("The code calculates and prints the total number of minutes in a year, assuming there are 365 days in a year, 24 hours in a day, and 60 minutes in an hour.")
print(f"The total number of minutes in an year = {no_of_days_in_a_year * hours_in_a_day * minute_in_a_hour}")

The code calculates and prints the total number of minutes in a year, assuming there are 365 days in a year, 24 hours in a day, and 60 minutes in an hour.
The total number of minutes in an year = 525600

#Exercise 9
##Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.
###An example runs of the program:
<p>Please enter your name: Tony<br>
Hi Tony, welcome to Python programming :)</p>

In [55]:
name = input("Please enter your name: ")
print("Hi",name,"welcome to Python programming :)")

Please enter your name: Tony
Hi Tony welcome to Python programming :)

#Exercise 10
##Name your file: PoundsToDollars.py
##Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar (\$)
###An example runs of the program:<br>Please enter amount in pounds: XXX<br>£XXX are $ XXX

In [60]:
pounds = float(input("Enter an amount in pounds : "))
Pound_x_factor = 1.2562168  # defines the equivalent $ of a £
print(f"£{pounds} are ${pounds * Pound_x_factor}")

Enter an amount in pounds : 23
£23.0 are $28.8929864